.fixed-top, .dropdown-menu {
    background-color: steelblue;
}

.dropdown-menu a:hover {
    background-color: orange;
}

.nav-icons .fas:hover {
    color: orange;
}

.menu-panel {
	margin-top: 3rem;
    overflow-x: hidden;
}

.card-container {
    display: grid;
	grid-template-columns: auto auto auto;
    gap: 1.5rem;
    overflow-x: hidden;
}

.card-img-top {
	object-fit: cover;
	height: 200px;
}

.header .shopping-cart{
    position: absolute;
    top: 60px;
    right: -50%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: steelblue;
}

.header .shopping-cart.active{
    right: 0;
    transition: .4s linear;
}

.header .shopping-cart .item-box {
    display: grid;
    grid-template-columns: 50px 150px 0 auto;
    gap: 0;
    text-align: center;
    align-items: center;
}

.header .shopping-cart .item-box .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.header .shopping-cart .item-box .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.header .shopping-cart .item-box:nth-child(even){
    background-color: lightblue;
}

#login-btn {
    display: inline-block;
    padding: 0.65em 1.6em;
    border: 3px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 3s infinite linear;
    position: relative;
    background-color: #7c99ab;
  }
  
  #login-btn:hover {
    background-color: white;
    color:royalblue;
  }
  
  @keyframes bn13bouncy {
    0% {
      top: 0em;
    }
    40% {
      top: 0em;
    }
    43% {
      top: -0.9em;
    }
    46% {
      top: 0em;
    }
    48% {
      top: -0.4em;
    }
    50% {
      top: 0em;
    }
    100% {
      top: 0em;
    }
  }

.footer {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: steelblue;
    color: #fff;
    padding: 20px 0;
}

.footercontainer-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footercontainer-1 .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #3f51b5;
    color: #fff;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

.footercontainer-1 .social a:hover {
    background-color: lightseagreen;
}

.footercontainer-1 .social a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    z-index: -10;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

.footercontainer-1 .social a:hover::before {
    transform: translate(-70%, -70%) scale(1);
    opacity: 1;
}

.footercontainer-1 .links a {
    color: #fff;
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Add transition for hover effect */
}

.footercontainer-1 .links a:hover {
    color: aquamarine;
}

.footercontainer-2 {
    padding: 10px;
    background-color: #1b2b30;
}

.footercontainer-2 p, .footercontainer-2 b {
    color: #ccc;
    font-size: 14px;
}
